# Pour démarrer le serveur Flask (Backend)
web: cd backend && gunicorn app:app

# Pour construire et servir l'application React (Frontend)
frontend: cd frontend && npm install && npm run build && npm start
